{%extends 'blog_app/base.html'%}
{%block title_block%}{{post.title}}{%endblock%}
{%block content%}
<h1>{{post.title}}</h1>
<p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
{{post.body|linebreaks}}
<div class='container' align='center'>
    <a href='/mailsendview/{{post.id}}' class='btn btn-primary'>Share Post By Email</a>
</div>
{%with comments.count as comments_count%}   {% comment %} comments.count value will be stored in comments_count variable {% endcomment %}
<h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
 {% endwith%}       {% comment %} if 1 comment it will display comment otherwise comments. {% endcomment %}

{%if comments%}
    {%for comment in comments%}
       <p id='ch'> Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
       <div class='cb'>{{comment.body|linebreaks}}</div>
    {%endfor%}
{%else%}
    <p>There are no comments Yet!!!</p>
{%endif%}

{%if csubmit%}
    <h2>Your comment added succesfully</h2>
{%else%}
    <form method='post'>
        {{form.as_p}}
        {% csrf_token %}
        <input type='submit' name='' value='Submit Comment'>
    </form>
{%endif%}
{%endblock%}